// Icons
// -------------------------

.icons8-red-calendar:before,
.icons8-red-notification:before,
.icons8-red-forward:before,
.icons8-red-back:before,
.icons8-red-expand-arrow:before,
.icons8-red-collapse-arrow:before,
.icons8-red-done:before,
.icons8-red-settings:before,
.icons8-red-technical-support:before,
.icons8-red-male-user:before,
.icons8-red-pie-chart:before,
.icons8-red-ledger:before,
.icons8-red-wallet:before,
.icons8-red-bill:before,
.icons8-red-dashboard-layout:before,
.icons8-red-google:before,
.icons8-red-bank-cards:before,
.icons8-red-lock:before,
.icons8-red-multiply:before,
.icons8-red-add:before,
.icons8-red-facebook-f:before,
.icons8-red-mail:before,
.icons8-red-padlock:before,
.icons8-red-visa:before,
.icons8-red-hide:before,
.icons8-red-eye:before,
.icons8-red-search:before,
.icons8-red-plus:before,
.icons8-red-upload:before,
.icons8-red-list:before,
.icons8-red-download:before,
.icons8-red-flag-2:before,
.icons8-red-available-updates:before,
.icons8-red-organization:before,
.icons8-red-approval:before,
.icons8-red-funnel:before,
.icons8-red-menu-vertical:before,
.icons8-red-edit:before,
.icons8-red-in-progress:before,
.icons8-red-ok:before,
.icons8-red-file:before,
.icons8-red-waste:before,
[data-icons8]:before {
  @include icons8-font;
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8-red-calendar:before {
  content: $icons8-var-calendar;
}
.icons8-red-notification:before {
  content: $icons8-var-notification;
}
.icons8-red-forward:before {
  content: $icons8-var-forward;
}
.icons8-red-back:before {
  content: $icons8-var-back;
}
.icons8-red-expand-arrow:before {
  content: $icons8-var-expand-arrow;
}
.icons8-red-collapse-arrow:before {
  content: $icons8-var-collapse-arrow;
}
.icons8-red-done:before {
  content: $icons8-var-done;
}
.icons8-red-settings:before {
  content: $icons8-var-settings;
}
.icons8-red-technical-support:before {
  content: $icons8-var-technical-support;
}
.icons8-red-male-user:before {
  content: $icons8-var-male-user;
}
.icons8-red-pie-chart:before {
  content: $icons8-var-pie-chart;
}
.icons8-red-ledger:before {
  content: $icons8-var-ledger;
}
.icons8-red-wallet:before {
  content: $icons8-var-wallet;
}
.icons8-red-bill:before {
  content: $icons8-var-bill;
}
.icons8-red-dashboard-layout:before {
  content: $icons8-var-dashboard-layout;
}
.icons8-red-google:before {
  content: $icons8-var-google;
}
.icons8-red-bank-cards:before {
  content: $icons8-var-bank-cards;
}
.icons8-red-lock:before {
  content: $icons8-var-lock;
}
.icons8-red-multiply:before {
  content: $icons8-var-multiply;
}
.icons8-red-add:before {
  content: $icons8-var-add;
}
.icons8-red-facebook-f:before {
  content: $icons8-var-facebook-f;
}
.icons8-red-mail:before {
  content: $icons8-var-mail;
}
.icons8-red-padlock:before {
  content: $icons8-var-padlock;
}
.icons8-red-visa:before {
  content: $icons8-var-visa;
}
.icons8-red-hide:before {
  content: $icons8-var-hide;
}
.icons8-red-eye:before {
  content: $icons8-var-eye;
}
.icons8-red-search:before {
  content: $icons8-var-search;
}
.icons8-red-plus:before {
  content: $icons8-var-plus;
}
.icons8-red-upload:before {
  content: $icons8-var-upload;
}
.icons8-red-list:before {
  content: $icons8-var-list;
}
.icons8-red-download:before {
  content: $icons8-var-download;
}
.icons8-red-flag-2:before {
  content: $icons8-var-flag-2;
}
.icons8-red-available-updates:before {
  content: $icons8-var-available-updates;
}
.icons8-red-organization:before {
  content: $icons8-var-organization;
}
.icons8-red-approval:before {
  content: $icons8-var-approval;
}
.icons8-red-funnel:before {
  content: $icons8-var-funnel;
}
.icons8-red-menu-vertical:before {
  content: $icons8-var-menu-vertical;
}
.icons8-red-edit:before {
  content: $icons8-var-edit;
}
.icons8-red-in-progress:before {
  content: $icons8-var-in-progress;
}
.icons8-red-ok:before {
  content: $icons8-var-ok;
}
.icons8-red-file:before {
  content: $icons8-var-file;
}
.icons8-red-waste:before {
  content: $icons8-var-waste;
}
