/*!
 * Icon Font DDP Icons - Light Grey-a1cb1fd62b
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: "DDP Icons - Light Grey-a1cb1fd62b";
  src: url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.eot");
  src: url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.woff2") format("woff2"),
  url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.woff") format("woff"),
  url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.ttf") format("truetype"),
  url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "DDP Icons - Light Grey-a1cb1fd62b";
    src: url("../fonts/DDP Icons - Light Grey-a1cb1fd62b.svg#DDP Icons - Light Grey-a1cb1fd62b") format("svg");
  }
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8-lgrey-calendar:before,
.icons8-lgrey-notification:before,
.icons8-lgrey-forward:before,
.icons8-lgrey-back:before,
.icons8-lgrey-expand-arrow:before,
.icons8-lgrey-collapse-arrow:before,
.icons8-lgrey-done:before,
.icons8-lgrey-settings:before,
.icons8-lgrey-technical-support:before,
.icons8-lgrey-male-user:before,
.icons8-lgrey-pie-chart:before,
.icons8-lgrey-ledger:before,
.icons8-lgrey-wallet:before,
.icons8-lgrey-bill:before,
.icons8-lgrey-dashboard-layout:before,
.icons8-lgrey-google:before,
.icons8-lgrey-bank-cards:before,
.icons8-lgrey-lock:before,
.icons8-lgrey-multiply:before,
.icons8-lgrey-add:before,
.icons8-lgrey-facebook-f:before,
.icons8-lgrey-mail:before,
.icons8-lgrey-padlock:before,
.icons8-lgrey-visa:before,
.icons8-lgrey-hide:before,
.icons8-lgrey-eye:before,
.icons8-lgrey-search:before,
.icons8-lgrey-plus:before,
.icons8-lgrey-upload:before,
.icons8-lgrey-list:before,
.icons8-lgrey-download:before,
.icons8-lgrey-flag-2:before,
.icons8-lgrey-available-updates:before,
.icons8-lgrey-organization:before,
.icons8-lgrey-approval:before,
.icons8-lgrey-funnel:before,
.icons8-lgrey-menu-vertical:before,
.icons8-lgrey-edit:before,
.icons8-lgrey-in-progress:before,
.icons8-lgrey-ok:before,
.icons8-lgrey-file:before,
.icons8-lgrey-waste:before,
.icons8,
[data-icons8]:before {
  display: inline-block;
  font-family: "DDP Icons - Light Grey-a1cb1fd62b";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.icons8-lgrey-calendar:before {
  content: "\f100";
}
.icons8-lgrey-notification:before {
  content: "\f101";
}
.icons8-lgrey-forward:before {
  content: "\f102";
}
.icons8-lgrey-back:before {
  content: "\f103";
}
.icons8-lgrey-expand-arrow:before {
  content: "\f104";
}
.icons8-lgrey-collapse-arrow:before {
  content: "\f105";
}
.icons8-lgrey-done:before {
  content: "\f106";
}
.icons8-lgrey-settings:before {
  content: "\f107";
}
.icons8-lgrey-technical-support:before {
  content: "\f108";
}
.icons8-lgrey-male-user:before {
  content: "\f109";
}
.icons8-lgrey-pie-chart:before {
  content: "\f10a";
}
.icons8-lgrey-ledger:before {
  content: "\f10b";
}
.icons8-lgrey-wallet:before {
  content: "\f10c";
}
.icons8-lgrey-bill:before {
  content: "\f10d";
}
.icons8-lgrey-dashboard-layout:before {
  content: "\f10e";
}
.icons8-lgrey-google:before {
  content: "\f10f";
}
.icons8-lgrey-bank-cards:before {
  content: "\f110";
}
.icons8-lgrey-lock:before {
  content: "\f111";
}
.icons8-lgrey-multiply:before {
  content: "\f112";
}
.icons8-lgrey-add:before {
  content: "\f113";
}
.icons8-lgrey-facebook-f:before {
  content: "\f114";
}
.icons8-lgrey-mail:before {
  content: "\f115";
}
.icons8-lgrey-padlock:before {
  content: "\f116";
}
.icons8-lgrey-visa:before {
  content: "\f117";
}
.icons8-lgrey-hide:before {
  content: "\f118";
}
.icons8-lgrey-eye:before {
  content: "\f119";
}
.icons8-lgrey-search:before {
  content: "\f11a";
}
.icons8-lgrey-plus:before {
  content: "\f11b";
}
.icons8-lgrey-upload:before {
  content: "\f11c";
}
.icons8-lgrey-list:before {
  content: "\f11d";
}
.icons8-lgrey-download:before {
  content: "\f11e";
}
.icons8-lgrey-flag-2:before {
  content: "\f11f";
}
.icons8-lgrey-available-updates:before {
  content: "\f120";
}
.icons8-lgrey-organization:before {
  content: "\f121";
}
.icons8-lgrey-approval:before {
  content: "\f122";
}
.icons8-lgrey-funnel:before {
  content: "\f123";
}
.icons8-lgrey-menu-vertical:before {
  content: "\f124";
}
.icons8-lgrey-edit:before {
  content: "\f125";
}
.icons8-lgrey-in-progress:before {
  content: "\f126";
}
.icons8-lgrey-ok:before {
  content: "\f127";
}
.icons8-lgrey-file:before {
  content: "\f128";
}
.icons8-lgrey-waste:before {
  content: "\f129";
}
