// Icons
// -------------------------

.icons8-white-calendar:before,
.icons8-white-notification:before,
.icons8-white-forward:before,
.icons8-white-back:before,
.icons8-white-expand-arrow:before,
.icons8-white-collapse-arrow:before,
.icons8-white-done:before,
.icons8-white-settings:before,
.icons8-white-technical-support:before,
.icons8-white-male-user:before,
.icons8-white-pie-chart:before,
.icons8-white-ledger:before,
.icons8-white-wallet:before,
.icons8-white-bill:before,
.icons8-white-dashboard-layout:before,
.icons8-white-google:before,
.icons8-white-bank-cards:before,
.icons8-white-lock:before,
.icons8-white-multiply:before,
.icons8-white-add:before,
.icons8-white-facebook-f:before,
.icons8-white-mail:before,
.icons8-white-padlock:before,
.icons8-white-visa:before,
.icons8-white-hide:before,
.icons8-white-eye:before,
.icons8-white-search:before,
.icons8-white-plus:before,
.icons8-white-upload:before,
.icons8-white-list:before,
.icons8-white-download:before,
.icons8-white-flag-2:before,
.icons8-white-available-updates:before,
.icons8-white-organization:before,
.icons8-white-approval:before,
.icons8-white-funnel:before,
.icons8-white-menu-vertical:before,
.icons8-white-edit:before,
.icons8-white-in-progress:before,
.icons8-white-ok:before,
.icons8-white-file:before,
.icons8-white-waste:before,
[data-icons8]:before {
  @include icons8-font;
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8-white-calendar:before {
  content: $icons8-var-calendar;
}
.icons8-white-notification:before {
  content: $icons8-var-notification;
}
.icons8-white-forward:before {
  content: $icons8-var-forward;
}
.icons8-white-back:before {
  content: $icons8-var-back;
}
.icons8-white-expand-arrow:before {
  content: $icons8-var-expand-arrow;
}
.icons8-white-collapse-arrow:before {
  content: $icons8-var-collapse-arrow;
}
.icons8-white-done:before {
  content: $icons8-var-done;
}
.icons8-white-settings:before {
  content: $icons8-var-settings;
}
.icons8-white-technical-support:before {
  content: $icons8-var-technical-support;
}
.icons8-white-male-user:before {
  content: $icons8-var-male-user;
}
.icons8-white-pie-chart:before {
  content: $icons8-var-pie-chart;
}
.icons8-white-ledger:before {
  content: $icons8-var-ledger;
}
.icons8-white-wallet:before {
  content: $icons8-var-wallet;
}
.icons8-white-bill:before {
  content: $icons8-var-bill;
}
.icons8-white-dashboard-layout:before {
  content: $icons8-var-dashboard-layout;
}
.icons8-white-google:before {
  content: $icons8-var-google;
}
.icons8-white-bank-cards:before {
  content: $icons8-var-bank-cards;
}
.icons8-white-lock:before {
  content: $icons8-var-lock;
}
.icons8-white-multiply:before {
  content: $icons8-var-multiply;
}
.icons8-white-add:before {
  content: $icons8-var-add;
}
.icons8-white-facebook-f:before {
  content: $icons8-var-facebook-f;
}
.icons8-white-mail:before {
  content: $icons8-var-mail;
}
.icons8-white-padlock:before {
  content: $icons8-var-padlock;
}
.icons8-white-visa:before {
  content: $icons8-var-visa;
}
.icons8-white-hide:before {
  content: $icons8-var-hide;
}
.icons8-white-eye:before {
  content: $icons8-var-eye;
}
.icons8-white-search:before {
  content: $icons8-var-search;
}
.icons8-white-plus:before {
  content: $icons8-var-plus;
}
.icons8-white-upload:before {
  content: $icons8-var-upload;
}
.icons8-white-list:before {
  content: $icons8-var-list;
}
.icons8-white-download:before {
  content: $icons8-var-download;
}
.icons8-white-flag-2:before {
  content: $icons8-var-flag-2;
}
.icons8-white-available-updates:before {
  content: $icons8-var-available-updates;
}
.icons8-white-organization:before {
  content: $icons8-var-organization;
}
.icons8-white-approval:before {
  content: $icons8-var-approval;
}
.icons8-white-funnel:before {
  content: $icons8-var-funnel;
}
.icons8-white-menu-vertical:before {
  content: $icons8-var-menu-vertical;
}
.icons8-white-edit:before {
  content: $icons8-var-edit;
}
.icons8-white-in-progress:before {
  content: $icons8-var-in-progress;
}
.icons8-white-ok:before {
  content: $icons8-var-ok;
}
.icons8-white-file:before {
  content: $icons8-var-file;
}
.icons8-white-waste:before {
  content: $icons8-var-waste;
}
