@{
    ViewBag.Title = "Password";
    ViewBag.Image = "/Content/app-assets/fonts/Sel-Icons/DDP Icons/Illustrations/reset-password.png";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@section css{
    @Styles.Render("~/PasswordSuccess-CSS")
    <style>
        .feather-24 {
            width: 24px;
            height: 24px;
        }
    </style>
}
<div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto" style="text-align:center;">
    <img src="~/Content/app-assets/fonts/Sel-Icons/DDP Icons/ddp logo.png" style="width:50px;padding-bottom:20px" />
    <h2 class="card-title font-weight-bold mb-1" style="font-size: 32px; font-weight: 700!important; color: #25215e;line-height:48px" id="h2Msg"></h2>
    <img src="~/Content/app-assets/fonts/Sel-Icons/DDP Icons/Illustrations/success.png" style="width: 300px; padding-bottom: 40px;" />
    <form action="@Url.Action("Index", "Login" )">
        <button class="btn btn-primary btn-block" tabindex="4" style="font-size: 16px; font-weight: 500; color: #979597;">Back to log in</button>
    </form>
</div>
@section scripts{
    @Scripts.Render("~/PasswordSuccess-JS")
}

