<input type="hidden" id="hdnMenu" value="@Session["Menu"]" data-currurl="@Request.RawUrl"/>
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/app-assets/fonts/Sel-Icons/DDP Icons/ddp logo.png" style="width:35px;" />
                    <h2 class="brand-text mb-0" style="font-size:16px;font-weight: bold!important;">dingdong pay</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="fa-angle-left d-block d-xl-none font-medium-4 primary toggle-icon"></i>
                    <i class="fa fa-angle-left"  style="font-size:16px;"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" >
            <li class="nav-item  @(Request.RawUrl.ToString() == "/" ? "active" : "")">
                <a href="/"><i class="icons8-black-dashboard-layout"></i>Dashboard</a>
            </li>
        </ul>
    </div>
</div>