// Icons
// -------------------------

.icons8-black-calendar:before,
.icons8-black-notification:before,
.icons8-black-forward:before,
.icons8-black-back:before,
.icons8-black-expand-arrow:before,
.icons8-black-collapse-arrow:before,
.icons8-black-done:before,
.icons8-black-settings:before,
.icons8-black-technical-support:before,
.icons8-black-male-user:before,
.icons8-black-pie-chart:before,
.icons8-black-ledger:before,
.icons8-black-wallet:before,
.icons8-black-bill:before,
.icons8-black-dashboard-layout:before,
.icons8-black-google:before,
.icons8-black-bank-cards:before,
.icons8-black-lock:before,
.icons8-black-multiply:before,
.icons8-black-add:before,
.icons8-black-facebook-f:before,
.icons8-black-mail:before,
.icons8-black-padlock:before,
.icons8-black-visa:before,
.icons8-black-hide:before,
.icons8-black-eye:before,
.icons8-black-search:before,
.icons8-black-plus:before,
.icons8-black-upload:before,
.icons8-black-list:before,
.icons8-black-download:before,
.icons8-black-flag-2:before,
.icons8-black-available-updates:before,
.icons8-black-organization:before,
.icons8-black-approval:before,
.icons8-black-funnel:before,
.icons8-black-menu-vertical:before,
.icons8-black-edit:before,
.icons8-black-in-progress:before,
.icons8-black-ok:before,
.icons8-black-file:before,
.icons8-black-waste:before,
[data-icons8]:before {
  @include icons8-font;
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8-black-calendar:before {
  content: $icons8-var-calendar;
}
.icons8-black-notification:before {
  content: $icons8-var-notification;
}
.icons8-black-forward:before {
  content: $icons8-var-forward;
}
.icons8-black-back:before {
  content: $icons8-var-back;
}
.icons8-black-expand-arrow:before {
  content: $icons8-var-expand-arrow;
}
.icons8-black-collapse-arrow:before {
  content: $icons8-var-collapse-arrow;
}
.icons8-black-done:before {
  content: $icons8-var-done;
}
.icons8-black-settings:before {
  content: $icons8-var-settings;
}
.icons8-black-technical-support:before {
  content: $icons8-var-technical-support;
}
.icons8-black-male-user:before {
  content: $icons8-var-male-user;
}
.icons8-black-pie-chart:before {
  content: $icons8-var-pie-chart;
}
.icons8-black-ledger:before {
  content: $icons8-var-ledger;
}
.icons8-black-wallet:before {
  content: $icons8-var-wallet;
}
.icons8-black-bill:before {
  content: $icons8-var-bill;
}
.icons8-black-dashboard-layout:before {
  content: $icons8-var-dashboard-layout;
}
.icons8-black-google:before {
  content: $icons8-var-google;
}
.icons8-black-bank-cards:before {
  content: $icons8-var-bank-cards;
}
.icons8-black-lock:before {
  content: $icons8-var-lock;
}
.icons8-black-multiply:before {
  content: $icons8-var-multiply;
}
.icons8-black-add:before {
  content: $icons8-var-add;
}
.icons8-black-facebook-f:before {
  content: $icons8-var-facebook-f;
}
.icons8-black-mail:before {
  content: $icons8-var-mail;
}
.icons8-black-padlock:before {
  content: $icons8-var-padlock;
}
.icons8-black-visa:before {
  content: $icons8-var-visa;
}
.icons8-black-hide:before {
  content: $icons8-var-hide;
}
.icons8-black-eye:before {
  content: $icons8-var-eye;
}
.icons8-black-search:before {
  content: $icons8-var-search;
}
.icons8-black-plus:before {
  content: $icons8-var-plus;
}
.icons8-black-upload:before {
  content: $icons8-var-upload;
}
.icons8-black-list:before {
  content: $icons8-var-list;
}
.icons8-black-download:before {
  content: $icons8-var-download;
}
.icons8-black-flag-2:before {
  content: $icons8-var-flag-2;
}
.icons8-black-available-updates:before {
  content: $icons8-var-available-updates;
}
.icons8-black-organization:before {
  content: $icons8-var-organization;
}
.icons8-black-approval:before {
  content: $icons8-var-approval;
}
.icons8-black-funnel:before {
  content: $icons8-var-funnel;
}
.icons8-black-menu-vertical:before {
  content: $icons8-var-menu-vertical;
}
.icons8-black-edit:before {
  content: $icons8-var-edit;
}
.icons8-black-in-progress:before {
  content: $icons8-var-in-progress;
}
.icons8-black-ok:before {
  content: $icons8-var-ok;
}
.icons8-black-file:before {
  content: $icons8-var-file;
}
.icons8-black-waste:before {
  content: $icons8-var-waste;
}
